ROBOFLOW_API_KEY = "paste-your-roboflow-api-key-here"
ROBOFLOW_WORKSPACE = "m-nitish-46wkd"
ROBOFLOW_WORKFLOW_ID = "license-plate-recognition-vlicense-plate-recognition-rxg4e-l8dkk-1-yolo26n-t1-logic"
ROBOFLOW_API_URL = "https://serverless.roboflow.com"